* {
  margin: 0;
  padding: 0;
}

body {
    background-image: url("BG.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 70%;
    background-position: center;

}

#wrapper {
  width: 70%;
  height: auto;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 0px;
}

.header {
  width: 70%;
  height: 70px;
  background-color: #550a6e;
  margin-top: 0;
  position: fixed;
}

.logo {
  padding-left: 10px;
  padding-top: 10px;
  float: left;
}

.meny {
  width: 70%;
  height: 70px;
  float: right;
}

.meny ul {
  float: right;
  list-style: none;
  list-style-type: none;
}

.meny li {
  float: left;
  padding-right: 20px;
  line-height: 70px;
  font-family: verdana, sans-serif;
}

.meny a {
  color: #fff;
  text-decoration: none;
  font-family: verdana, sans-serif;
}

.meny a:hover {
  color: #196acd;
}

#utdanning {
  width: 80%;
  height: 200px;
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

.justering_t {
  width:100%;
  height:250px;
  margin-top:100px;
}

.utdanning {
  color: #ff00f0;
  font-weight: bold;
  font-family: verdana, sans-serif;
}

#fag {
  width: 80%;
  height: 220px;
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
  font-family: verdana, sans-serif;
}

.justering_f {
  width:100%;
  height:240px;
  background: rgba(137, 137, 137, 0.8);
  margin-top:30px;
}

.fag_bilde {
  padding-left: 20px;
  padding-top: 20px;
  float: left;
}

.fag_info {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  width: 60%;
  line-height: 1.5;
}

#videregaende {
  width: 80%;
  height: 220px;
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
  font-family: verdana, sans-serif;
}

.justering_v {
  width:100%;
  height:240px;
  background: rgba(137, 137, 137, 0.8);
  margin-top:30px;
}

.videregaende_bilde {
  padding-right: 20px;
  padding-top: 20px;
  float: right;
}

.videregaende_info {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  width: 47%;
  line-height: 1.5;
}

#universitet {
  width: 80%;
  height: 220px;
  padding-top: 70px;
  margin-left: auto;
  margin-right: auto;
  font-family: verdana, sans-serif;
}

.justering_u {
  width:100%;
  height:240px;
  background: rgba(137, 137, 137, 0.8);
  margin-top:30px;
}

.universitet_bilde {
  padding-left: 20px;
  padding-top: 20px;
  float: left;
}

.universitet_info {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  width: 40%;
  line-height: 1.5;
}

footer {
  width: 100%;
  height: 70px;
  background-color: #550a6e;
  padding-bottom: 0px;
  position:relative;
  margin-top: 100px;
  font-family: verdana, sans-serif;
}

.logo_f {
  padding-left: 10px;
  padding-top: 10px;
  float: left;
}

.kontakt {
  width: 90%;
  height: 70px;
  float: right;
  font-family: verdana, sans-serif;
}

.kontakt ul {
  float: right;
  list-style: none;
  list-style-type: none;
}

.kontakt li {
  float: left;
  padding-right: 70px;
  line-height: 70px;
  font-family: verdana, sans-serif;
  color: #ffffff;
}
